.date-time-container {
    transition: var(--transition-mode-one);
}

.time {
    text-align: center;
    font-size: 4rem;
    margin-top: 6rem;
    font-weight: lighter;
}

.date {
    text-align: center;
    font-size: 1rem;
    margin-top: .5rem;
}

.footer {
    position: fixed;
    bottom: 1rem;
    width: calc(100% - 2rem);
}

.footer-header {
    text-align: center;
    margin-bottom: .5rem;
    transition: var(--transition-mode-one);
}

.footer-inner {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-inner__item {
    background-color: var(--secondary);
    border-radius: .75rem;
    padding: .25rem;
    transition: var(--transition-mode-one);
}

.footer-inner__item--phone {
    transform: rotate(-135deg);
}
