.icons {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.icons-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.icon {
    width: 20%;
    text-align: center;
}

.footer-wrapper {
    position: fixed;
    width: 92%;
    bottom: 0;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-navigation {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
